.init{
	background-color:#1C86EE;
	width:100%;
	height:70px;
}
.jianju{
	padding-top:25px;
	padding-left:60px;
	padding-right:40px;
}
.jianju1{
	padding-top:20px;
	padding-right:0px;
	padding-left:50px;
}
.jianju2{
	padding-top:6px;
	font-size:35px;
	font-family:"Times New Roman";
	
}
.buju1{
    background-color:#F2F2F2;
    padding-top:40px;
    
}
.buju2{
	background-color:#FFFFFF;
}
.anniu{
	margin-right:67px;
	border:none;
	outline:0;
	width:98px;
	height:40px;
	background-color:#F2F2F2
}
.anniu1{
	background-color:#F2F2F2;	
}
.sheji{
	padding-left:36px;
	padding-right:0px;
	margin-bottom:0px;
}
.sheji1{
	margin-bottom:0px;
}
.neiceng{
	padding-left:13px;
	padding-right:0px;
}
.nei{
	border:none;
	outline:0;
	padding-left:0px;
	padding-right:0px;
	height:40px;
	background-color:#F2F2F2;
	margin-bottom:0px;
	width:204px;

	
}
.nei:link {background-color:#F2F2F2;}	
.nei:visited {background-color:#FFFFFF;}	
.nei:hover {background-color:#B7B7B7;}	
.nei:active {background-color:#B7B7B7;}
.style1{
	padding-top:30px;
	padding-left:20px;
}